{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">  
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Si queres contactarte, podes dejarme un mensaje y me contactaré a la brevedad.</p>
        <br>
        <ul>
            <li><a>Email:</a>cynthiamouzo@gmail.com</li>
        </ul>
        <br>
        <p><b>Teléfono:</b> +54 11 3199 3008</p>
        <p><b>Honorarios:</b> 50 U$S/h (precio base)</p>
    </div>
</div>
{% endblock %}